{% extends "base_moderator.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Создать Doscam" %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/dos/dos.css' %}">
{% endblock %}

{% block content %}

    <div class="all-size flex">
        <header class="header-second">
            <div class="header-last"></div>
            <div class="header-second__inner header-second__flex">
                <button class="menu-button">
                    <img
                            class="menu-button__image"
                            src="{% static 'image/menu-button.png' %}"
                            alt="menu-button"
                    />
                </button>
                <h1 class="header-second__flex">DOS Cam</h1>
            </div>
        </header>

        <section class="dos">
            <div class="container dos__inner">
                <h3 class="dos__title">
                    {{ ready_participants_count }} <br/>
                    {% trans "человек готовы участвовать" %}
                </h3>
                {% if error_message %}
                    <h3 class="error dos__title">{{ error_message }}</h3>
                {% endif %}
                <div class="dos__items" id="random_results">
                    {% if participants.participant1 and participants.participant2 and location %}
                        <div class="dos__item">
                            <div class="person">
                                <div class="person friends__person">
                                    <div class="photo-line dos__line">
                                        <img
                                                id="participant1_profile_photo"
                                                class="dos__person-img"
                                                src="{{ participants.participant1.profile_picture.url }}"
                                                alt="photo"
                                        />
                                    </div>
                                    <div class="person__wrapper dos__wrapper">
                                    <span class="dos__name">
                                        <span id="participant1_name">{{ participants.participant1.name }}</span>
                                        <br/>
                                        <span id="participant1_surname">{{ participants.participant1.surname }}</span>
                                    </span>
                                        <span class="dos__location" id="participant1_city">
                                            {{ participants.participant1.city }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dos__vectors">
                            <svg width="33" height="43">
                                <use href="{% static 'image/icons.svg' %}#dos-vector-left"></use>
                            </svg>
                            <svg width="33" height="43">
                                <use href="{% static 'image/icons.svg' %}#dos-vector-right"></use>
                            </svg>
                        </div>
                        <div class="dos__item">
                            <div class="person">
                                <div class="person friends__person">
                                    <div class="photo-line dos__line">
                                        <img
                                                id="participant2_profile_photo"
                                                class="dos__person-img"
                                                src="{{ participants.participant2.profile_picture.url }}"
                                                alt="photo"
                                        />
                                    </div>
                                    <div class="person__wrapper dos__wrapper">
                                    <span class="dos__name">
                                        <span id="participant2_name">{{ participants.participant2.name }}</span>
                                        <br/>
                                        <span id="participant2_surname">{{ participants.participant2.surname }}</span>
                                    </span>
                                        <span class="dos__location" id="participant2_city">
                                            {{ participants.participant2.city }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <span id="location_name" class="text-center ">{{ location.name }}</span>
                <div class="timer"></div>
                <button id="generate_btn" class="button dos__button-start">{% trans "Сгенерировать" %}</button>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="duration_minutes" required="" id="id_duration_minutes">
                    <input type="hidden" name="participant1_id" id="participant1_id"
                           value="{{ participants.participant1.id }}">
                    <input type="hidden" name="participant2_id" id="participant2_id"
                           value="{{ participants.participant2.id }}">
                    <input type="hidden" name="location_id" id="location_id" value="{{ location.id }}">

                    <button class="button dos__button" type="submit" name="publish" value="true">{% trans "Старт" %}
                    </button>
                </form>
            </div>
        </section>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('id_duration_minutes').value = 3;
        });

        document.getElementById('generate_btn').addEventListener('click', function () {
            fetch("{% url 'randomize_participants' %}")
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        document.getElementById('participant1_id').value = data.participant1_id;
                        document.getElementById('participant2_id').value = data.participant2_id;

                        document.getElementById('location_id').value = data.location_id;
                        document.getElementById('location_name').textContent = data.location_name;

                        document.getElementById('participant1_name').textContent = data.participant1_name;
                        document.getElementById('participant1_surname').textContent = data.participant1_surname;
                        document.getElementById('participant1_city').textContent = data.participant1_city;
                        document.getElementById('participant1_profile_photo').src = data.participant1_profile_photo;

                        document.getElementById('participant2_name').textContent = data.participant2_name;
                        document.getElementById('participant2_surname').textContent = data.participant2_surname;
                        document.getElementById('participant2_city').textContent = data.participant2_city;
                        document.getElementById('participant2_profile_photo').src = data.participant2_profile_photo;
                    }
                });
        });
    </script>
{% endblock %}
