{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    Политика конфиденциальности и обработки персональных данных
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/map/map.css' %}">
    <link rel="stylesheet" href="{% static 'style/custom.css' %}">
{% endblock %}

{% block content %}
    <header class="header">
        <div class="container header__inner">
            <a class="back" href="{% url 'home' %}">
                <img class="back-image" src="{% static 'image/back.png' %}" alt="back"/>
            </a>
            <img src="{% static 'image/rating.png' %}" class="header__icon" alt="maps"/>
            <h2 class="header__title agreement-section-title">Политика конфиденциальности и обработки персональных
                данных</h2>
        </div>
    </header>
    <section class="map">
        <div class="container">
            <div class="agreement-section">
                <h1>Политика конфиденциальности и обработки персональных данных</h1>
                <p>Настоящая Политика конфиденциальности и обработки персональных данных (далее — Политика) действует в
                    отношении всей информации, которую [название компании/сайта] может получить о пользователе во время
                    использования им сайта [URL сайта].</p>

                <h2>1. Общие положения</h2>
                <p>1.1. Настоящая Политика разработана в соответствии с Законом Республики Казахстан "О персональных
                    данных и их защите" от 21 мая 2013 года и определяет порядок обработки персональных данных и меры по
                    обеспечению безопасности персональных данных в [название компании/сайта].</p>
                <p>1.2. Целью данной Политики является защита прав и свобод человека и гражданина при обработке его
                    персональных данных, в том числе защита прав на неприкосновенность частной жизни, личную и семейную
                    тайну.</p>

                <h2>2. Цели обработки персональных данных</h2>
                <p>2.1. [Название компании/сайта] обрабатывает персональные данные пользователя для следующих целей:</p>
                <ul>
                    <li>Регистрация пользователя на сайте.</li>
                    <li>Оказание пользователю услуг и/или предоставление ему доступ к сервисам, информации и/или
                        материалам, содержащимся на сайте.
                    </li>
                    <li>Улучшение качества сайта, удобства его использования, разработка новых продуктов и услуг.</li>
                    <li>Проведение статистических и иных исследований на основе обезличенных данных.</li>
                </ul>

                <h2>3. Перечень персональных данных</h2>
                <p>3.1. Персональные данные, которые могут обрабатываться в рамках настоящей Политики, включают в
                    себя:</p>
                <ul>
                    <li>ФИО</li>
                    <li>Электронный адрес</li>
                    <li>Номер телефона</li>
                    <li>Адрес проживания</li>
                    <li>Иные данные, предоставленные пользователем по его желанию</li>
                </ul>

                <h2>4. Условия обработки персональных данных</h2>
                <p>4.1. Обработка персональных данных осуществляется на законной и справедливой основе.</p>
                <p>4.2. Обработка персональных данных ограничивается достижением конкретных, заранее определенных и
                    законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора
                    персональных данных.</p>
                <p>4.3. Базы данных, содержащие персональные данные граждан Республики Казахстан, должны находиться на
                    территории Республики Казахстан.</p>

                <h2>5. Права и обязанности пользователя</h2>
                <p>5.1. Пользователь вправе:</p>
                <ul>
                    <li>Получать информацию, касающуюся обработки его персональных данных.</li>
                    <li>Требовать уточнения своих персональных данных, их блокирования или уничтожения в случае, если
                        персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не
                        являются необходимыми для заявленной цели обработки.
                    </li>
                </ul>
                <p>5.2. Для реализации своих прав и законных интересов пользователь вправе обратиться к [название
                    компании/сайта] или направить запрос по электронной почте [электронный адрес компании].</p>

                <h2>6. Меры по защите персональных данных</h2>
                <p>6.1. [Название компании/сайта] принимает необходимые организационные и технические меры для защиты
                    персональных данных пользователя от неправомерного или случайного доступа, уничтожения, изменения,
                    блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.</p>

                <h2>7. Изменение Политики</h2>
                <p>7.1. [Название компании/сайта] оставляет за собой право вносить изменения в настоящую Политику. Новая
                    редакция Политики вступает в силу с момента ее размещения на сайте, если иное не предусмотрено новой
                    редакцией Политики.</p>
            </div>
        </div>
    </section>
{% endblock %}