{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans "Пользовательское соглашение" %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/map/map.css' %}">
    <link rel="stylesheet" href="{% static 'style/custom.css' %}">
{% endblock %}

{% block content %}
    <header class="header">
        <div class="container header__inner">
            <a class="back" href="{% url 'home' %}">
                <img class="back-image" src="{% static 'image/back.png' %}" alt="back"/>
            </a>
            <img src="{% static 'image/rating.png' %}" class="header__icon" alt="maps"/>
            <h2 class="header__title agreement-section-title">Пользовательское соглашение</h2>
        </div>
    </header>
    <section class="map">
        <div class="container">
            <div class="agreement-section">
                <h1>Пользовательское соглашение</h1>
                <p>Перед началом использования сайта [название компании/сайта] (далее — Сайт) внимательно ознакомьтесь с
                    условиями настоящего Пользовательского соглашения (далее — Соглашение). Использование Сайта
                    означает, что вы принимаете и обязуетесь соблюдать все условия Соглашения.</p>

                <h2>1. Общие положения</h2>
                <p>1.1. Настоящее Соглашение регулирует отношения между [название компании] (далее — Администрация) и
                    пользователем Сайта (далее — Пользователь).</p>
                <p>1.2. Пользователь обязуется использовать Сайт только в законных целях и не нарушать права и законные
                    интересы третьих лиц.</p>

                <h2>2. Права и обязанности сторон</h2>
                <p>2.1. Администрация обязуется:</p>
                <ul>
                    <li>Обеспечить возможность использования Сайта в соответствии с его назначением.</li>
                    <li>Защищать персональные данные Пользователя в соответствии с Политикой конфиденциальности.</li>
                </ul>
                <p>2.2. Пользователь обязуется:</p>
                <ul>
                    <li>Предоставлять достоверные данные при регистрации на Сайте.</li>
                    <li>Не использовать Сайт для распространения незаконной информации.</li>
                    <li>Не предпринимать действий, направленных на дестабилизацию работы Сайта.</li>
                </ul>

                <h2>3. Персональные данные</h2>
                <p>3.1. Обработка персональных данных Пользователя осуществляется в соответствии с Политикой
                    конфиденциальности, доступной по адресу [ссылка на Политику конфиденциальности].</p>

                <h2>4. Ограничение ответственности</h2>
                <p>4.1. Администрация не несет ответственности за сбои в работе Сайта, вызванные техническими
                    неполадками, действиями третьих лиц или непреодолимой силой.</p>
                <p>4.2. Администрация не несет ответственности за содержание сайтов, на которые могут вести ссылки,
                    размещенные на Сайте.</p>

                <h2>5. Изменение условий Соглашения</h2>
                <p>5.1. Администрация оставляет за собой право изменять условия Соглашения в одностороннем порядке.
                    Изменения вступают в силу с момента их публикации на Сайте.</p>

                <h2>6. Принятие условий Соглашения</h2>
                <p>6.1. Нажимая кнопку "Принимаю условия пользовательского соглашения" или продолжая использование
                    Сайта, Пользователь подтверждает, что ознакомился и согласен с условиями настоящего Соглашения.</p>

                <h2>7. Контактная информация</h2>
                <p>7.1. По всем вопросам, связанным с исполнением настоящего Соглашения, Пользователь может обращаться
                    по адресу электронной почты: [электронный адрес компании].</p>
            </div>
        </div>
    </section>
{% endblock %}