{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Lecture Detail" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/top/top.css' %}"/>
{% endblock %}

{% block content %}
    <section class="top background-page">
        <div class="background-page__item background-page__first">
            <svg width="639" height="639" fill="none">
                <use href="{% static 'image/icons.svg' %}#first-icon"></use>
            </svg>
        </div>
        <div class="background-page__item background-page__second">
            <svg width="639" height="639" fill="none">
                <use href="{% static 'image/icons.svg' %}#first-icon"></use>
            </svg>
        </div>
        <div class="background-page__item background-page__three">
            <svg width="639" height="639" fill="none">
                <use href="{% static 'image/icons.svg' %}#first-icon"></use>
            </svg>
        </div>
        <div class="background-page__item background-page__fourth">
            <svg width="639" height="639" fill="none">
                <use href="{% static 'image/icons.svg' %}#first-icon"></use>
            </svg>
        </div>
        <div class="top__content">
            <h2>{{ lecture.title }}</h2>
            <p>Speakers: {{ lecture.speakers }}</p>
            <p>Date: {{ lecture.date }}</p>
            <p>Location: {{ lecture.location }}</p>
            <p>Description: {{ lecture.description }}</p>

            <div>
                <a class="button" href="{% url 'show_qr_start' lecture.id %}">{% trans "Show Start QR Code" %}</a>
                <a class="button" href="{% url 'show_qr_end' lecture.id %}">{% trans "Show End QR Code" %}</a>
            </div>
        </div>
    </section>
{% endblock %}
