{% extends "base_moderator.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Lectures" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/qr-code/qr-code.css' %}"/>
{% endblock %}
{% block content %}
    <div class="all-size flex">
        <header class="header-second">
            <div class="header-last"></div>
            <div class="header-second__inner">
                <button class="menu-button">
                    <img
                            class="menu-button__image"
                            src="{% static 'image/menu-button.png' %}"
                            alt="menu-button"
                    />
                </button>

                <h1 class="header-second__title">
                    QR Code <br/>
                    start / end
                </h1>
                <span></span>
            </div>
        </header>

        <section class="qr-code flex">
            <div class="container qr-code__inner">
                <ul>
                    {% for lecture in lectures %}
                        <li><a href="{% url 'lecture_detail' lecture.id %}" class="qr-code__title">{{ lecture.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
{% endblock %}