{% extends "base_moderator.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Lecture Detail" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/qr-code/qr-code.css' %}"/>
{% endblock %}

{% block content %}
    <div class="all-size flex">
        <header class="header-second">
            <div class="header-last"></div>
            <div class="header-second__inner">
                <button class="menu-button">
                    <img
                            class="menu-button__image"
                            src="{% static 'image/menu-button.png' %}"
                            alt="menu-button"
                    />
                </button>

                <h1 class="header-second__title">
                    QR Code <br/>
                    start / end
                </h1>
                <span></span>
            </div>
        </header>

        <section class="qr-code flex">
            <div class="container qr-code__inner">
                {% if lecture %}
                    <h1 class="qr-code__title">{{ lecture.title }}</h1>
                    <div class="qr-code__points">
                        <div class="qr-code__point">
                            <span> Название:</span> {{ lecture.location }}
                        </div>

                        <div class="qr-code__point">
                            <span>Спикеры:</span> {{ lecture.speakers }}
                            <ul class="qr-code__list">
                                <li class="qr-code__item">

                                    {{ lecture.description }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="qr-code__buttons">
                        <a class="button qr-code__button" href="{% url 'show_qr_start' lecture.id %}">START QR Code</a>
                        <a class="button qr-code__button" href="{% url 'show_qr_end' lecture.id %}">END QR Code</a>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
