{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "End QR Code" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/top/top.css' %}"/>
{% endblock %}

{% block content %}

    <section class="top background-page">
        <div class="background-page__item background-page__first">
            <svg width="639" height="639" fill="none">
                <use href="{% static 'image/icons.svg' %}#first-icon"></use>
            </svg>
        </div>
        <div class="background-page__item background-page__second">
            <svg width="639" height="639" fill="none">
                <use href="{% static 'image/icons.svg' %}#first-icon"></use>
            </svg>
        </div>
        <div class="background-page__item background-page__three">
            <svg width="639" height="639" fill="none">
                <use href="{% static 'image/icons.svg' %}#first-icon"></use>
            </svg>
        </div>
        <div class="background-page__item background-page__fourth">
            <svg width="639" height="639" fill="none">
                <use href="{% static 'image/icons.svg' %}#first-icon"></use>
            </svg>
        </div>
        <div class="top__content">
            <h2>{% trans "End QR Code for Lecture" %} {{ lecture.title }}</h2>
            {% if lecture.qr_code_end %}
                <img src="{{ lecture.qr_code_end.url }}" alt="End QR Code">
            {% else %}
                <p>{% trans "No end QR code available." %}</p>
            {% endif %}
            <br>
            <a href="{% url 'lecture_detail' lecture.id %}">{% trans "Back to Lecture Details" %}</a>
        </div>
    </section>
{% endblock %}
