{% extends base_template %}

{% block title %}Friends{% endblock %}

{% block content %}
<h2>Your Friends</h2>
<ul>
    {% for friend in friends %}
        <li>{{ friend.name }} {{ friend.surname }} - {{ friend.city.name }}</li>
    {% endfor %}
</ul>

<h3>Send a Friend Request</h3>
<form method="post" action="{% url 'send_friend_request' %}">
    {% csrf_token %}
    <select name="to_user">
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.name }} {{ user.surname }} - {{ user.city.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Send Friend Request</button>
</form>

<h3>Friend Requests</h3>
<ul>
    {% for friend_request in received_requests %}
        <li>
            {{ friend_request.from_user.name }} {{ friend_request.from_user.surname }}
            <form method="post" action="{% url 'confirm_friend_request' friend_request.id %}">
                {% csrf_token %}
                <button type="submit">Accept</button>
            </form>
            <form method="post" action="{% url 'reject_friend_request' friend_request.id %}">
                {% csrf_token %}
                <button type="submit">Reject</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
