{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Top Campaigns{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/top/top.css' %}">
{% endblock %}

{% block content %}
<section class="top background-page">
  <div class="background-page__item background-page__first">
    <svg width="639" height="639" fill="none">
      <use href="{% static 'image/icons.svg' %}#first-icon"></use>
    </svg>
  </div>
  <div class="background-page__item background-page__second">
    <svg width="639" height="639" fill="none">
      <use href="{% static 'image/icons.svg' %}#first-icon"></use>
    </svg>
  </div>
  <div class="background-page__item background-page__three">
    <svg width="639" height="639" fill="none">
      <use href="{% static 'image/icons.svg' %}#first-icon"></use>
    </svg>
  </div>
  <div class="background-page__item background-page__fourth">
    <svg width="639" height="639" fill="none">
      <use href="{% static 'image/icons.svg' %}#first-icon"></use>
    </svg>
  </div>
  <div class="top__content">
    <ul class="top__list">
      {% for campaign in top_campaigns %}
      <li class="top__item">
        <div class="top__image-wrapper">
          {% if forloop.first %}
          <svg class="top__position" width="125" height="125">
            <use href="{% static 'image/icons.svg' %}#position-1"></use>
          </svg>
          <img class="top__image" src="{{ campaign.main_photo.url  }}" alt="image" />
          {% elif forloop.counter == 2 %}
          <svg class="top__position" width="102" height="102">
            <use href="{% static 'image/icons.svg' %}#position-2"></use>
          </svg>
          <img class="top__image" src="{{ campaign.main_photo.url  }}" alt="image" />
          {% elif forloop.counter == 3 %}
          <svg class="top__position" width="102" height="102">
            <use href="{% static 'image/icons.svg' %}#position-3"></use>
          </svg>
          <img class="top__image" src="{{ campaign.main_photo.url  }}" alt="image" />
          {% elif forloop.counter == 4 %}
          <svg class="top__position" width="84" height="84">
            <use href="{% static 'image/icons.svg' %}#position-4"></use>
          </svg>
          <img class="top__image" src="{{ campaign.main_photo.url  }}" alt="image" />
          {% elif forloop.counter == 5 %}
          <svg class="top__position" width="75" height="75">
            <use href="{% static 'image/icons.svg' %}#position-5"></use>
          </svg>
          <img class="top__image" src="{{ campaign.main_photo.url  }}" alt="image" />
          {% endif %}
        </div>
        <span class="top__name">{{ campaign.name }}</span>
        <span class="top__location">{{ campaign.city }}</span>
        <span>{{ campaign.num_votes }} голосов</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
