{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Профиль" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/profile/profile.css' %}">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById('profileEditForm');
            const saveButton = document.querySelector('.edit_save-button');
            const initialFormState = new FormData(form);

            function previewImage() {
                const file = document.getElementById('id_profile_picture').files[0];
                const reader = new FileReader();

                reader.onloadend = function () {
                    document.getElementById('profile_picture_preview').src = reader.result;
                }

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    document.getElementById('profile_picture_preview').src = "{% static 'image/photo.png' %}";
                }
            }

            function checkForChanges() {
                const currentFormState = new FormData(form);
                let formChanged = false;

                for (let key of initialFormState.keys()) {
                    if (initialFormState.get(key) !== currentFormState.get(key)) {
                        formChanged = true;
                        break;
                    }
                }

                saveButton.style.display = formChanged ? 'block' : 'none';
            }

            form.addEventListener('input', checkForChanges);
            document.getElementById('id_profile_picture').addEventListener('change', previewImage);

            saveButton.style.display = 'none';
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const friendButtons = document.querySelectorAll(".friends__button");

            friendButtons.forEach(button => {
                button.addEventListener("click", function () {
                    const profilePicture = this.getAttribute("data-friend-profile-picture");
                    const city = this.getAttribute("data-friend-city");
                    const name = this.getAttribute("data-friend-name");
                    const surname = this.getAttribute("data-friend-surname");
                    const instagram = this.getAttribute("data-friend-instagram");
                    const tiktok = this.getAttribute("data-friend-tiktok");
                    const phoneNumber = this.getAttribute("data-friend-phone");

                    const profilePictureElement = document.getElementById("friend-profile-picture");
                    const locationElement = document.getElementById("friend-location");
                    const nameElement = document.getElementById("friend-name");
                    const instagramElement = document.getElementById("friend-instagram");
                    const tiktokElement = document.getElementById("friend-tiktok");
                    const phoneElement = document.getElementById("friend-phone");

                    if (profilePictureElement && locationElement && nameElement && instagramElement && tiktokElement && phoneElement) {
                        profilePictureElement.src = profilePicture || "{% static 'image/photo.png' %}";
                        locationElement.textContent = city;
                        nameElement.innerHTML = `${name}<br />${surname}`;
                        instagramElement.href = "https://www.instagram.com/" + instagram || "#";
                        tiktokElement.href = "https://www.tiktok.com/" + tiktok || "#";
                        phoneElement.href = `tel:${phoneNumber || 'N/A'}`;
                        phoneElement.textContent = phoneNumber || '+7 700 100 01 10';

                        document.querySelector(".popup.friend").classList.add("popup--active");
                        document.body.classList.add("body--overflow");
                    }
                });
            });

            const popupCloseButtons = document.querySelectorAll(".popup-close");
            popupCloseButtons.forEach(button => {
                button.addEventListener("click", function () {
                    const index = this.getAttribute("data-index");
                    document.querySelector(`.popup[data-index="${index}"]`).classList.remove("popup--active");
                    document.body.classList.remove("body--overflow");
                });
            });
        });


    </script>
{% endblock %}
♀
{% block content %}

    <section class="profile">
        <div class="popup popup--black all-coins" data-index="4">
            <div class="popup-container all-coins__inner flex">
                <div class="top">
                    <button class="top__button popup-close" data-index="4">
                        <svg width="46" height="46">
                            <use href="{% static 'image/icons.svg' %}#back"></use>
                        </svg>
                    </button>
                </div>
                <div class="all-coins__wrapper">
                    <span class="all-coins__count">{{ user.doscointbalance.balance|floatformat:"-1" }}</span>
                    <span class="all-coins__value">{% trans "Мои Dos Coins" %}</span>
                    <p class="all-coins__text">{% trans "Ты заработал (количество) Dos Coins. Не знаешь на что их потратить? Поищи интересные предложения на точках интереса :)" %}</p>
                    <img class="all-coins__icon" src="{% static 'image/coins.png' %}" width="112" height="112"
                         alt="icon"/>
                </div>
                <div class="history">
                    <h5 class="history__title">{% trans "История транзакций:" %}</h5>
                    <ul class="history__list">
                        {% for transaction in transactions %}
                            <li class="history__item">
                                <span class="history__time">{{ transaction.timestamp|date:"H:i" }}</span> |
                                <span class="history__amount
                            {% if transaction.is_positive %} history__minus  {% else %}  history__plus {% endif %}">
                        {% if transaction.is_positive %} -{% else %} +{% endif %}
                                    {{ transaction.amount|floatformat:"-1" }} DC
                        </span>
                                {{ transaction.category.display_name }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class='bottom'>
                <button class="button popups-close">{% trans "Закрыть" %}</button>
                    </div>
            </div>
        </div>
        <div class="popup popup--black friends" data-index="5">
            <div class="popup-container friends__inner flex">
                <div class="top">
                    <button class="top__button popup-close" data-index="5">
                        <svg width="46" height="46">
                            <use href="{% static 'image/icons.svg' %}#back"></use>
                        </svg>
                    </button>
                </div>
                <div class="friends__list-wrapper">
                    <h5 class="friends__title">{% trans "Мои друзья:" %} {{ friends|length }}</h5>
                    <ul class="friends__list">
                        {% for friend in friends %}
                            <li class="friends__item">
                                <button class="friends__button popup-button" data-index="6"
                                        data-friend-id="{{ friend.id }}"
                                        data-friend-name="{{ friend.name }}"
                                        data-friend-surname="{{ friend.surname }}"
                                        data-friend-profile-picture="{% if friend.profile_picture %} {{ friend.profile_picture.url }}{% endif %}"
                                        data-friend-city="{{ friend.city.name }}"
                                        data-friend-instagram="{{ friend.instagram }}"
                                        data-friend-tiktok="{{ friend.tiktok }}"
                                        data-friend-phone="{{ friend.phone_number }}">
                                    <div class="person friends__person">
                                        <div class="photo-line friends__line">
                                            {% if friend.profile_picture %}
                                                <img class="friends__person-img" src="{{ friend.profile_picture.url }}"
                                                     alt="photo"/>
                                            {% else %}
                                                <img class="friends__person-img" src="{% static 'image/photo.png' %}"
                                                     alt="photo"/>
                                            {% endif %}
                                        </div>
                                        <div class="person__wrapper">
                                            <span class="friends__location">{{ friend.city.name }}</span>
                                            <span class="friends__name">{{ friend.name }}<br/>{{ friend.surname }}</span>
                                        </div>
                                    </div>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class='bottom'>
                <button class="button popups-close">{% trans "Закрыть" %}</button>
                <div>
            </div>
        </div>
        <div class="popup friend" data-index="6">
            <div class="bottom-gradient"></div>
            <div class="popup-container flex">
                <div class="top">
                    <button class="top__button popup-close" data-index="6">
                        <svg width="46" height="46">
                            <use href="{% static 'image/icons.svg' %}#back"></use>
                        </svg>
                    </button>
                    <span class="top__title">{% trans "Профиль друга" %}</span>
                </div>
                <div class="person">
                    <div class="photo-line friend__line">
                        <img class="friends__person-img" id="friend-profile-picture"
                             src="{% static 'image/photo.png' %}"
                             alt="photo"/>
                    </div>
                    <span class="person__location" id="friend-location">Astana</span>
                    <span class="friend__name" id="friend-name">Zhasulan<br/>Zhumadilov</span>
                </div>
                <div class="friend__socials">
                    <a class="friend__social" id="friend-instagram" href="#">
                        <svg width="40" height="40">
                            <use href="{% static 'image/icons.svg' %}#instagram"></use>
                        </svg>
                        <span>Instagram</span>
                    </a>
                    <a class="friend__social" id="friend-tiktok" href="#">
                        <svg width="40" height="40">
                            <use href="{% static 'image/icons.svg' %}#tiktok"></use>
                        </svg>
                        <span>Tiktok</span>
                    </a>
                    <a class="friend__social" id="friend-phone" href="tel:77001000110">
                        <svg width="40" height="40">
                            <use href="{% static 'image/icons.svg' %}#phone"></use>
                        </svg>
                        <span>+7 700 100 01 10</span>
                    </a>
                </div>
                <button class="button popups-close">{% trans "Закрыть" %}</button>
            </div>
        </div>
        <div class="popup edit" data-index="7">
            <div class="bottom-gradient"></div>
            <div class="popup-container flex">
                <div class="top">
                    <button class="top__button popup-close" data-index="7">
                        <svg width="46" height="46">
                            <use href="{% static 'image/icons.svg' %}#back"></use>
                        </svg>
                    </button>
                    <span class="top__title">{% trans "Профиль" %}</span>
                </div>
                <form class="edit__form" id="profileEditForm" method="post" enctype="multipart/form-data"
                      action="{% url 'profile_edit' %}">
                    {% csrf_token %}
                    <div class="edit__top">
                        <div class="person">
                            <div class="photo-line blue-line">
                                <img id="profile_picture_preview" src="
                                        
                                        {% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'image/photo.png' %}{% endif %}"
                                     alt="Profile Picture" class="blue-person-img" width="300"/>
                            </div>
                        </div>

                        <label class="edit__label" for="id_profile_picture">{% trans "Изменить фото" %}</label>
                        <input type="file" accept="image/*" class="edit__file-input" id="id_profile_picture"
                               name="profile_picture"
                               onchange="previewImage()"/>
                    </div>
                    <span class="edit__location">{{ user.city.name }}</span>
                    <span class="edit__name">{{ user.name }}<br/>{{ user.surname }}</span>

                    <div class="edit__contacts">
                        <div class="edit__contacts-item">
                            <svg width="40" height="40">
                                <use href="{% static 'image/icons.svg' %}#inst"></use>
                            </svg>
                            <input id="instagram-input" class="edit__contacts-input" type="text" name="instagram"
                                   value="{{ user.instagram }}" placeholder="{% trans "Instagram профиль" %}"/>
                        </div>
                        <div class="edit__contacts-item">
                            <svg width="40" height="40">
                                <use href="{% static 'image/icons.svg' %}#tiktok"></use>
                            </svg>
                            <input id="tiktok-input" class="edit__contacts-input" type="text" name="tiktok"
                                   value="{{ user.tiktok }}" placeholder="{% trans "Tiktok профиль" %}"/>
                        </div>
                    </div>

                    <button type="submit" class="button edit_save-button">{% trans "Сохранить" %}</button>
                </form>
            </div>
        </div>
        <div class="container flex profile__inner">
            <div class="profile__top">
                <div class="profile__wrapper">
                    <button class="menu-button">
                        <svg width="46" height="46">
                            <use href="{% static 'image/icons.svg' %}#menu-button"></use>
                        </svg>
                    </button>
                    {% if is_event_participant %}
                        <a class="profile__find-link" href="{% url 'doscam_find' %}">
                            <svg width="46" height="46">
                                <use href="{% static 'image/icons.svg' %}#yang"></use>
                            </svg>
                        </a>
                    {% endif %}

                    {% if has_voted %}
                        <a class="profile__find-link" href="{% url 'voted_campaign' %}">
                            <img class="art" src="{% static 'image/art.png' %}" width="46" height="46" alt="icon"/>
                        </a>
                    {% endif %}

                </div>
                <div class="person">
                    <div class="photo-line profile__line">
                        {% if user.profile_picture %}
                            <img class="profile__person-img" src="{{ user.profile_picture.url }}" alt="photo"/>
                        {% else %}
                            <img class="profile__person-img" src="{% static 'image/photo.png' %}" alt="photo"/>
                        {% endif %}
                    </div>
                    <span class="person__location">{{ user.city.name }}</span>
                    <span class="person__name">{{ user.name }}<br/>{{ user.surname }}</span>
                </div>
                <button class="profile__edit popup-button" data-index="7">
                    <svg width="46" height="46">
                        <use href="{% static 'image/icons.svg' %}#edit"></use>
                    </svg>
                </button>
            </div>
            <div class="profile__qr">
                <img class="profile__qr-image" src="{{ user.qr_code.url }}" alt="qr"/>
            </div>
            <div class="profile__info">
                <button class="profile__item popup-button" data-index="5">
                    <span class="profile__friends">{{ friends|length }}</span>
                    <span class="profile__item-name">{% trans "Мои" %}<br/> {% trans "Друзья" %}</span>
                </button>
                <button class="profile__item popup-button" data-index="4">
                    <span class="profile__coins">{{ user.doscointbalance.balance|floatformat:"-1" }}</span>
                    <span class="profile__item-name">{% trans "Мои" %}<br/>Dos Coins</span>
                    <div class="profile__coins-icon">
                        <img class="profile__coins-iconglow" src="{% static 'image/coins.png' %}" width="112"
                             height="112" alt="icon"/>
                    </div>
                </button>
            </div>
            <a class="button popup-button profile__button" href="{% url 'qr_scan' %}">{% trans "Отсканировать QR" %}</a>
        </div>
    </section>
{% endblock %}


{% block extra_js %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var instagramInput = document.getElementById("instagram-input");
            var tiktokInput = document.getElementById("tiktok-input");

            if (instagramInput.value === "None") {
                instagramInput.value = "";
            }

            if (tiktokInput.value === "@") {
                tiktokInput.value = "";
            }
            if (tiktokInput.value === "None") {
                tiktokInput.value = "";
            }
        });
    </script>
    {% if is_event_participant %}
        <script>
            const timer = new Timer(document.querySelector('.timer'))
            document.querySelector('.find-button').addEventListener('click', () => timer.timerStart())
            document.querySelector('.find__button-close').addEventListener('click', () => timer.closeInterval())
        </script>
    {% endif %}
{% endblock %}
