{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Страница регистрации" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/register/register.css' %}">
    <link rel="stylesheet" href="{% static 'style/custom.css' %}">
{% endblock %}
{% block content %}
    <section class="register">
        <div class="container register__inner">
            <div class="top">
                <a class="top__button" href="{% url 'home' %}">
                    <svg width="46" height="46">
                        <use href="{% static 'image/icons.svg' %}#back"></use>
                    </svg>
                </a>
                <span class="top__title">{% trans "Страница регистрации" %}</span>
            </div>
            <p class="register__text">
                {% trans "Введите ваш номер телефона." %}
            </p>
            <form class="register__form" method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="form-error">
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="register__item">
                    <label class="register__label" for="id_phone_number">{% trans "Номер телефона" %}</label>
                    {{ form.phone_number }}
                    {% if form.phone_number.errors %}
                        <div class="form-error">
                            <ul>
                                {% for error in form.phone_number.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

                <div class="register__item-full register__item-full--second">
                    <label class="register__label" for="id_name">{% trans "Имя" %}</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                        <div class="form-error">
                            <ul>
                                {% for error in form.name.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

                <div class="register__item-full register__item-full--second">
                    <label class="register__label" for="id_surname">{% trans "Фамилия" %}</label>
                    {{ form.surname }}
                    {% if form.surname.errors %}
                        <div class="form-error">
                            <ul>
                                {% for error in form.surname.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

                <div class="register__select-wrapper">
                    <label class="register__label" for="id_city">{% trans "Город" %}</label>
                    {{ form.city }}
                    {% if form.city.errors %}
                        <div class="form-error">
                            <ul>
                                {% for error in form.city.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

                <div class="register__item register__item-age">
                    <label class="register__label" for="id_age">{% trans "Впиши возраст (количество лет)" %}</label>
                    {{ form.age }}
                    {% if form.age.errors %}
                        <div class="form-error">
                            <ul>
                                {% for error in form.age.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

                <div class="register__bottom">
                    <button class="button" type="submit">{% trans "Зарегистрироваться" %}</button>
                    {% if LANGUAGE_CODE  == 'kk' %}
                        <p class="register__bottom-text">
                            Жалғастыра отырып, мен <a class="register__text-link" href="{% url 'policy' %}">жеке
                            деректерді
                            өңдеуге келісімімді беремін</a> және
                            <a class="register__text-link" href="{% url 'user_agreement' %}">және пайдаланушы
                                келісімінің
                                шарттарын</a>
                            қабылдаймын.
                        </p>
                    {% endif %}
                    {% if LANGUAGE_CODE  == 'ru' %}
                        <p class="register__bottom-text">
                            Продолжая, я даю согласие на
                            <a class="register__text-link" href="{% url 'policy' %}">обработку и передачу персональных
                                данных</a> и
                            <a class="register__text-link" href="{% url 'user_agreement' %}">принимаю условия
                                пользовательского
                                соглашения.</a>
                        </p>
                    {% endif %}
                </div>
            </form>
        </div>
    </section>

{% endblock %}