{% extends base_template %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Регистрация успешна!" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/success/success.css' %}">
    <link rel="stylesheet" href="{% static 'style/custom.css' %}">
{% endblock %}
{% block content %}
    <section class="error">
        <h3 class="error__title">{% trans "Регистрация успешна!" %}</h3>
        <img class="error__icon" src="{% static 'image/star.png' %}"  alt="icon"/>
        <p class="error__text"> {% trans "Вы успешно зарегистрированы!" %}</p>
{#            <a href="{% url 'login' %}" class="button-s  error__button">{% trans "Войти" %}</a>#}
    </section>
{% endblock %}