{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/homepage/homepage.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/custom.css' %}">
{% endblock %}

{% block content %}
    <section class="homepage">
        <div class="container">
            <button class="menu-button">
                <img class="menu-button__image" src="{% static 'image/menu-button.png' %}"
                     alt="{% trans 'menu-button' %}"/>
            </button>
            <div class="homepage__title-wrapper">
                <h1 class="homepage__title">{% trans "Казахстан — это на всю жизнь!" %}</h1>
                <svg class="homepage__title-icon" width="164" height="164">
                    <use href="{% static 'image/icons.svg' %}#homepage"></use>
                </svg>
            </div>
            <p class="homepage__text">
                {% trans "Добро пожаловать на Конвент!<br/> Знакомься с тысячами новых друзей со всей страны Обсуждай с единомышленниками свои проекты, идеи и видение Нового Казахстана твоей мечты<br/>Демонстрируй всем свои уникальные таланты и приобретай новые скиллы под руководством известных спикеров<br/>Зарабатывай DosCoins и обменивай их на различные возможности Узнай больше о Конвенте (стрелочка вниз на точки интереса, расписание и т.д.)" %}
            </p>
            <nav class="homepage__nav">
                <ul class="homepage__list">
                    <li class="homepage__item">
                        <a class="homepage__link" href="{% url 'point_list' %}">
                            <span class="homepage__link-name">{% trans "Точки интереса" %}</span>
                        </a>
                        <svg class="homepage__item-icon" width="138" height="151" fill="none">
                            <use href="{% static 'image/icons.svg' %}#points"></use>
                        </svg>
                    </li>
                    <li class="homepage__item">
                        <a class="homepage__link" href="{% url 'about_coins' %}">
                            <span class="homepage__link-name">{% trans "Что такое DOS COINS" %}</span>
                        </a>
                        <svg class="homepage__item-icon" width="148" height="148" fill="none">
                            <use href="{% static 'image/icons.svg' %}#coins"></use>
                        </svg>
                    </li>
                    <li class="homepage__item">
                        <a class="homepage__link" href="{% url 'attraction_list' %}">
                            <span class="homepage__link-name">{% trans "Расписание" %}</span>
                        </a>
                        <svg class="homepage__item-icon" width="138" height="151" fill="none">
                            <use href="{% static 'image/icons.svg' %}#list"></use>
                        </svg>
                    </li>
                    <li class="homepage__item">
                        <a class="homepage__link" href="{% url 'map' %}">
                            <span class="homepage__link-name">{% trans "Карта" %}</span>
                        </a>
                        <img src="{% static 'image/maps.svg' %}" class="homepage__item-icon" alt="{% trans 'maps' %}"/>
                    </li>
                </ul>
            </nav>

            <div class="homepage__bottom">
                <a class="button homepage__button" href="{% url 'login' %}">{% trans "Вход" %}</a>
            </div>
        </div>
    </section>
{% endblock %}
