.find {
    display: flex;
    flex-direction: column;
    background: rgb(222, 88, 155);
}

.find__inner {
    width: 100%;
}

.find__text {
    max-width: 260px;
    text-align: center;
    color: var(--white);
    margin-bottom: 28px;
}

.find__line {
    margin-bottom: 22px;
}

.find__line::before {
    border-color: #69A0AC;
}

.find .person {
    padding-top: 0;
}

.find__line::after {
    border-color: rgb(105, 160, 172, .5);
}

.find .timer-minutes {
    padding: 60px 0;
    font-size: 64px;
    margin: 0 auto;
    max-width: 350px;
    background-image: url(../../image/timer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 20px;

}

.find .timer-line {
    margin-top: 38px;
    width: 300px;

}

.find__inner {
    gap: 20px;
    flex-grow: 1;
}

.find__button-close {
    margin-top: auto;
}

.find__person-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}