.profile {
    height: 100%;
}

.profile__inner {
    align-items: start;
    gap: 20px 0;
    min-height: calc(var(--vh, 1vh) * 100);
}

.profile__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile__wrapper {
    display: flex;
    gap: 12px 0;
    flex-direction: column;
}



.profile__name {
    max-width: 179px;
    text-align: center;
    font-size: 32px;
}

.profile__qr {
    width: 100%;
    text-align: center;
}

.profile__info {
    width: 100%;
    display: flex;
    gap: 0 16px;
    max-width: 309px;
    margin: 18px auto 0;

}

.profile__person-img {
    width: 96px;
    transform: rotate(90deg);
    object-fit: cover;
    border-radius: 50%;
    height: 96px;
}




.profile__item {
    padding: 18px;
    border-radius: 10px;
    border: 1px solid var(--pale-orange);
    min-width: 118px;
    position: relative;
    text-align: start;
}

.profile__item:last-child {
    flex-grow: 1;
}

.profile__item-name {
    display: block;
    margin-top: 11px;
    font-weight: 900;
    font-size: 16px;
    color: var(--pale-orange);

}


.profile__friends {
    font-size: 34px;
    color: #4DCDB9;
    font-weight: 900;
}

.profile__qr-image {
    width: 200px;
    height: 200px;
}

.profile__coins {
    font-size: 34px;
    color: var(--orange);
    font-weight: 900;
}

.profile__coins-icon {
    position: absolute;
    top: -14px;
    right: -18px;
}

.profile__button {
    margin-top: auto;
}

.profile__line::before {
    border-color: #7F57D8;
}



.all-coins__wrapper {
    width: 100%;
    margin-top: 34px;
    padding: 18px;
    border-radius: 10px;
    position: relative;
    border: 1px solid var(--pale-orange);
}

.all-coins__count {
    color: var(--orange);
    font-size: 34px;
    font-weight: 900;
}


.all-coins__value {
    display: block;
    max-width: 46px;
    margin-top: 11px;
    font-size: 16px;
}

.all-coins__text {
    color: var(--white);
    padding: 0 11px;
    margin-top: 36px;
    font-size: 20px;
}

.all-coins__icon {
    position: absolute;
    right: -22px;
    top: -22px;
}


.friends__list-wrapper {
    width: 100%;
    max-height: 610px;
    overflow-y: scroll;
}

.friends__list {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    width: 100%;
    margin-top: 23px;
}

.friends__inner {
    gap: 20px 0;
    align-items: flex-start;
}

.friends__title {
    color: var(--white);
    font-size: 24px;
}

.friends__button {
    display: block;
    width: 100%;
    text-align: start;
    padding: 21px;
    border-radius: 10px;
    border: 1px solid var(--pale-orange);

}

.friends__person {
    padding: 0;
    gap: 0 25px;
    flex-direction: row;
}

.friends__person-img {
    width: 75px;
    height: 75px;
}

.friends__line,
.friend__line {

    &::before {
        border-color: #DE589B;
        top: -4.87px;
        left: -4.87px;
        bottom: -4.67px;
        right: -4.87px;

        border-width: 6.87px;

    }

    &:after {
        border-color: rgb(222, 88, 155, .5);
        top: -9px;
        left: -9px;
        bottom: -9px;
        right: -9px;
        border-width: 5px;
    }
}

.friend__line {
    &::before {
        border-color: #69A0AC;
    }
    &::after {
        border-color: rgb(105, 160, 172,.5);
    }
}
.friends__location {
    font-size: 15px;
    font-weight: 600;
}

.friends__name {
    font-size: 25px;
    font-weight: 600;
    margin-top: 4px;
    display: block;
}




.friend__name {
    font-size: 32px;
    text-align: center;
}


.friend__socials {
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    gap: 29px 0;
}

.friend__social {
    display: flex;
    align-items: center;
    gap: 0 19px;
    color: var(--pale-orange);
    font-size: 20px;
}

.edit__file-input {
    display: none;
}

.edit__label {
    border-bottom: 1px solid var(--pale-orange);
}

.edit__top {
    display: flex;
    gap: 0 28px;
    align-items: center;
}

.edit__location {
    display: block;
    margin-top: 20px;
    font-size: 20px;
}

.edit__name {
    font-size: 32px;
}

.edit__contacts {
    margin-top: 59px;
}

.edit__contacts-item {
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin-top: 29px;
}

.edit__contacts-button {
    border-bottom: 1px solid var(--pale-orange);

}



@media (max-height:790px) {
    .find .timer-minutes {
        padding: 30px 0;
    }

    .find__inner {
        gap: 10px 0;
    }


    .friend__socials {
        margin-top: 30px;
    }

    .add__inner {
        gap: 10px 0;
    }

    .add__qr {
        width: 250px;
        height: 250px;
    }



    
}
