{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Profile{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/qr/qr.css' %}">
    <link rel="stylesheet" href="{% static 'style/404/error.css' %}">
{% endblock %}

{% block content %}
    <section class="profile">
        <div class="popup add" data-index="2">
            <div class="bottom-gradient"></div>
            <div class="popup-container add__inner flex">
                <div class="top">
                    <a class="top__button popup-close" href="{% url 'profile' %}" data-index="2">
                        <svg width="46" height="46">
                            <use href="{% static 'image/icons.svg' %}#back"></use>
                        </svg>
                    </a>
                    <span class="top__title">Добавление друга</span>
                </div>
                <div class="add__person">
                    <div class="photo-line add__line">
                        <img class="add__person-img" src="{% static 'image/photo.png' %}" alt="photo"/>
                    </div>
                    <div class="person__wrapper">
                        <span class="add-person__name">Zhasulan<br/>Zhumadilov</span>
                        <span class="person__location">Astana</span>
                    </div>
                </div>
                <p class="add__text">Дай отсканировать QR code новому другу, чтобы он добавился к тебе в друзья и вы
                    получите Dos Coins</p>
                <img class="add__qr" src="{% static 'image/qr.png' %}" alt="qr"/>
                <a class="button-s popups-close" href="{% url 'profile' %}">Отмена</a>
            </div>
        </div>
        <div class="popup final" data-index="3">
            <div class="bottom-gradient"></div>
            <div class="popup-container final__inner flex">
                <div class="top">
                    <a class="top__button popup-close" href="{% url 'profile' %}" data-index="3">
                        <svg width="46" height="46">
                            <use href="{% static 'image/icons.svg' %}#back"></use>
                        </svg>
                    </a>
                    <span class="top__title">Добавление друга</span>
                </div>
                <div class="person">
                    <div class="photo-line final__line">
                        <img class="final__person-img" src="{% static 'image/photo.png' %}" alt="photo"/>
                        <span class="final__plus">+1</span>
                    </div>
                    <span class="person__location">Astana</span>
                    <span class="final__name">Zhasulan<br/>Zhumadilov</span>
                </div>
                <div class="final__content">
                    <div class="final__coins-background">
                        <div class="final__coins-item"></div>
                        <div class="final__coins-item"></div>
                        <div class="final__coins-item"></div>
                        <img class="final__coins-layers" src="{% static 'image/layers.png' %}" alt="layers"/>
                    </div>
                    <svg class="final__coins" width="150" height="150">
                        <use href="{% static 'image/icons.svg' %}#coins"></use>
                    </svg>
                </div>
                <div class="final__coins-add">
                    <span class="count">+2</span>
                    <span>Dos<br/>Coins</span>
                </div>
                <p class="final__bottom-text">Поздравляем!<br/>Dos Coins переведены</p>
                <a class="button final__button popups-close" href="{% url 'profile' %}">Назад</a>
            </div>
        </div>
        <div class="popup art" data-index="9">
            <div class="art__top">
                <div class="top">
                    <button class="top__button popup-close" data-index="9">
                        <svg width="46" height="46">
                            <use href="{% static 'image/icons.svg' %}#back"></use>
                        </svg>
                    </button>
                    <span class="top__title">Dos Cam</span>
                </div>
                <div class="art__logo">
                    <span>Лого</span>
                </div>
            </div>
            <div class="popup-container art__inner">
                <span class="art__name">Название Арт проекта</span>
                <div class="person art__person">
                    <div class="photo-line art__line">
                        <img class="art__person-img" src="{% static 'image/photo.png' %}" alt="photo"/>
                    </div>
                    <span class="art__name">Nurdaulet<br/>(-лидер гражданской компании)</span>
                </div>
                <ul class="art__points">
                    <li class="art__item">Города где работает проект: Астана, Караганда, Кокшетау.</li>
                    <li class="art__item">Краткое описание проекта</li>
                </ul>
                <p class="art__warn">Внимание: ты можешь проголосовать только 1 раз</p>
                <button class="button art__button">Голосовать</button>
                <button class="button-s popup-close art__button-close" data-index="9">Свернуть</button>
            </div>
        </div>

        <div class="popup error" data-index="10">
            <div class="art__top">
                <div class="top">
                    <button class="top__button popup-close" data-index="10">
                        <svg width="46" height="46">
                            <use href="{% static 'image/icons.svg' %}#back"></use>
                        </svg>
                    </button>
                    <span class="top__title">Ошибка</span>
                </div>
                <div class="art__logo">
                    <span>Лого</span>
                </div>
            </div>
            <div class="popup-container error">
                <h3 class="error__title">Ошибка</h3>
                <img class="error__icon" src="{% static 'image/error.png' %}" alt="icon"/>
                <p class="error__text">Недостаточно
                    средств</p>
                <button class="button-s  error__button">Закрыть</button>
                <button class="button-s popup-close art__button-close" data-index="10">Закрыть</button>
            </div>
        </div>

        <section class="qr">
            <div class="popup-container">
                <div class="top">
                    <a class="top__button popup-close" href="{% url 'profile' %}">
                        <svg width="46" height="46">
                            <use href="{% static 'image/icons.svg' %}#back "></use>
                        </svg>
                    </a>
                    <span class="top__title">Scan QR code</span>
                </div>
                <div id="my-qr-reader" class="qr__content">
                    <img class="qr__image" src="{% static 'image/qr.png' %}" alt="qr"/>
                </div>
            </div>
        </section>

    </section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/html5-qrcode.min.js' %}"></script>
    <script>
        function showErrorPopup(message) {
            const errorPopup = obj["10"];
            const errorMessageElement = errorPopup.querySelector('.error__text');
            errorMessageElement.textContent = message;
            activePopup("10");
        }

        document.addEventListener("DOMContentLoaded", function () {
            let isProcessing = false;
            const html5QrCodeScanner = new Html5QrcodeScanner("my-qr-reader", {fps: 10, qrbox: 250});
            html5QrCodeScanner.render(onScanSuccess);

            function onScanSuccess(decodedText, decodedResult) {
                if (isProcessing) {
                    return;
                }

                isProcessing = true;
                console.log(`Scanned QR Code: ${decodedText}`);

                sendQrDataToServer(decodedText)
                    .then(data => {
                        if (data.status === 'ok') {
                            alert(data.message);
                        } else {
                            showErrorPopup(data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        console.log(`Error sending QR data: ${error}`);
                    });
            }

            function sendQrDataToServer(decodedText) {
                console.log(`Sending QR data to server: ${decodedText}`);
                return fetch("{% url 'handle_qr_data' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: new URLSearchParams({
                        'qr_data': decodedText
                    })
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`Server responded with ${response.status}`);
                        }
                        return response.json();
                    });
            }
        });
    </script>
{% endblock %}
