{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Friend Request{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/add/add.css' %}">
{% endblock %}

{% block content %}
    <section class="add all-size" data-index="2">
        <div class="bottom-gradient">
        </div>
        <div class="add__inner container flex">
            <div class="top">
                <a href="{% url 'profile' %}" class="top__button popup-close">
                    <svg width="46" height="46">
                        <use href="{% static 'image/icons.svg' %}#back"></use>
                    </svg>
                </a>
                <span class="top__title">Добавление друга</span>
            </div>
            <div class="add__person">
                <div class="photo-line add__line">
                    <img class="add__person-img" src="{% if to_user.profile_picture %}{{ to_user.profile_picture.url }}
                        {% else %}{% static 'image/photo.png' %} {% endif %}" alt="photo"/>
                </div>
                <div class="person__wrapper">
                    <span class="add-person__name">{{ to_user.name }}
                    <br/>{{ to_user.surname }}</span>
                    <span class="person__location">{{ to_user.city }}</span>
                </div>
            </div>
            <p class="add__text">Дай отсканировать QR code новому другу, чтобы он добавился к тебе в друзья и вы
                получите Dos Сoins</p>

            {% if message %}
                <p  class="add__text">{{ message }}</p>
            {% endif %}

            <img class="add__qr" src="{% if qr_code_url %}{{ qr_code_url.url }} {% endif %}" alt="qr"/>
            <a href="{% url 'profile' %}" class="button-s popups-close">Отмена</a>
        </div>
    </section>
{% endblock %}
