{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Purchase Detail{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/payment_yes/payment.css' %}">
{% endblock %}

{% block content %}
    <section class="payment all-size">
        <div class="bottom-gradient"></div>
        <div class="container payment__inner flex">
            <div class="top">
                <a href="{% url 'profile' %}" class="top__button popup-close">
                    <svg width="46" height="46">
                        <use href="{% static 'image/icons.svg' %}#back"></use>
                    </svg>
                </a>
                <span class="top__title">Подтверждение оплаты</span>
            </div>

            <div class="payment__content">
                <div class="payment__coins-background">
                    <div class="payment__coins-item"></div>
                </div>
                <svg class="payment__coins" width="120" height="120">
                    <use href="{% static 'image/icons.svg' %}#coins"></use>
                </svg>
            </div>
            <div class="payment__coins-add">
                <span class="count">-{{ purchase.amount }}</span>
                <span>Dos <br/>Coins</span>
            </div>
            <p class="payment__bottom-text">
                Потвердите списание <br/>
                Dos Coins за товар
            </p>

            {% if user_balance >= purchase.amount %}
            {% else %}
                <p>Недостаточно средств для завершения покупки.</p>
            {% endif %}
            <div class="payment__buttons">
                {% if user_balance >= purchase.amount %}
                    <form class="payment__buttons" method="post">
                        {% csrf_token %}
                        <button class="button payment__button" type="submit" name="confirm">Подтвердить</button>
                    </form>
                {% endif %}
                <form class="payment__buttons" method="post">
                    {% csrf_token %}
                    <button class="button-s back" type="submit" name="cancel">Отмена</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
