{% load static %}
{% load i18n %}
<div class="menu">
  <div class="top">
    <button class="top__button">
      <svg width="46" height="46">
        <use href="{% static 'image/icons.svg' %}#back"></use>
      </svg>
    </button>
    <span class="top__title">Меню</span>
  </div>
  <div class="menu__languages">
    <button class="menu__languages-button" href="{% url 'switch_language' 'ru' %}">{% trans "Russian" %}</button>
    <button class="menu__languages-button menu__languages-button--active" href="{% url 'switch_language' 'kk' %}">{% trans "Kazakh" %}</button>
  </div>
  <nav class="menu__nav">
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link">Старинца профиля</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Страница мероприятий</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Страница DOS COINS</a>
      </li>
    </ul>
  </nav>
</div>
