{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="menu">
    <div class="top">
        <button class="top__button">
            <svg width="46" height="46">
                <use href="{% static 'image/icons.svg' %}#back"></use>
            </svg>
        </button>
        <span class="top__title">{% trans "Menu" %}</span>
    </div>
    <div class="menu__languages">
        <button class="menu__languages-button{% if LANGUAGE_CODE  == 'kk' %} menu__languages-button--active{% endif %}"
                href="{% url 'switch_language' 'kk' %}">ҚАЗ
        </button>
        <button class="menu__languages-button{% if LANGUAGE_CODE  == 'ru' %} menu__languages-button--active{% endif %}"
                href="{% url 'switch_language' 'ru' %}">РУС
        </button>

    </div>
    <nav class="menu__nav">
        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link" href="{% url 'profile' %}">{% trans "Profile Page" %}</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="{% url 'home' %}">{% trans "Events Page" %}</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">{% trans "DOS COINS Page" %}</a>
            </li>
            {% if user.is_authenticated %}
            <li class="menu__item">
                <a class="menu__link" href="{% url 'logout' %}">{% trans "Выйти" %}</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
