{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Attraction List{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/points/points.css' %}">
{% endblock %}

{% block content %}
<header class="header">
    <div class="container header__inner">
        <a class="back" href="{% url 'home' %}">
            <img class="back-image" src="{% static 'image/back.png' %}" alt="back" />
        </a>
        <svg class="header__icon" width="138" height="151" fill="none">
            <use href="{% static 'image/icons.svg' %}#points"></use>
        </svg>
        <h2 class="header__title">Точки притяжения</h2>
    </div>
</header>


<section class="points">
    <div class="container points__inner">
        <ul class="points__list">
            {% for attraction in attractions %}
                <li class="points__item">
                    <button class="popup-button points__button" data-index="{{ forloop.counter0 }}">
                        <img class="points__button-image" src="{{ attraction.photo.url }}" alt="link"/>
                    </button>
                </li>

                <div class="popup points__popup flex" data-index="{{ forloop.counter0 }}">
                    <div class="points__popup-top">
                        <button class="popup-close points__close" data-index="{{ forloop.counter0 }}">
                            <img class="popup-close__image" src="{% static 'image/back.png' %}" alt="close" />
                        </button>
                        <img class="points__popup-image" src="{{ attraction.photo.url }}" alt="image" />
                    </div>
                    <div class="points__wrapper">
                        <div class="points__project">
                            <h5 class="points__project-name">{{ attraction.title }}</h5>
{#                            <div class="points__person">#}
{#                                <img class="points__person-image" src="{% static 'image/points/photo.png' %}" alt="person" />#}
{#                                <span class="points__person-name">Nurdaulet <span class="points__position">()</span></span>#}
{#                            </div>#}
                        </div>
                        <ul class="points__popup-list">
                            <li class="points__popup-item">Город: {{ attraction.location }}</li>
                            <li class="points__popup-item">{{ attraction.description }}</li>
                        </ul>
                        <div class="points__descr points__popup-descr">
                            <span>Время</span>
                            <span class="points__time">{{ attraction.start_time|date:"H:i" }} - {{ attraction.end_time|date:"H:i" }}</span>
                        </div>
                        <div class="points__descr">
                            <span>Место проведения</span>
                            <span class="points__time">2 этаж, Зал 6</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
