{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Attraction List{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/points/points.css' %}">
{% endblock %}

{% block content %}
    <header class="header">
        <div class="container header__inner">
            <a class="back" href="{% url 'home' %}">
                <img class="back-image" src="{% static 'image/back.png' %}" alt="back"/>
            </a>
            <svg class="header__icon" width="138" height="151" fill="none">
                <use href="{% static 'image/icons.svg' %}#points"></use>
            </svg>
            <h2 class="header__title">Расписание</h2>
        </div>
    </header>


    <section class="points">
        <div class="container points__inner">
            <ul class="points__graphic">
                {% for attraction in attractions %}
                    <li class="points__graphic-item">
                        <h5 class="points__graphic-title">{{ attraction.title }}</h5>
                        <div class="points__descr">
                            <span>Время</span>
                            <span class="points__time"> {{ attraction.start_time|date:"H:i" }} - {{ attraction.end_time|date:"H:i" }}</span>
                        </div>
                        <div class="points__descr">
                            <span> Место проведения</span>
                            <span class="points__time">{{ attraction.location }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}