{% extends "base_moderator.html" %}
{% load static %}
{% load i18n %}

{% block title %}Confirmation{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/add/add.css' %}">
{% endblock %}

{% block content %}
    <section class="add-friend all-size">
        <div class="bottom-gradient"></div>
        <div class="container add-friend__inner flex">
            <div class="top">
                <a href="{% url 'profile' %}" class="top__button popup-close">
                    <svg width="46" height="46">
                        <use href="{% static 'image/icons.svg' %}#back"></use>
                    </svg>
                </a>
                <span class="top__title">{% trans 'Начисление Dos_Coins' %}</span>
            </div>
            <div class="person">
                <div class="photo-line blue-line">
                    <img class="blue-person-img" src="
                    {% if recipient.profile_picture %}
                        {{ recipient.profile_picture.url }}
                    {% else %}{% static 'image/photo.png' %}
                        {% endif %}" alt="photo"/>
                </div>

                <div class="person__wrapper add-friend__wrapper mt20">

                    <span class="person__location">{{ recipient.city }}</span>
                    <br/>
                    <span class="person__name">
				  {{ recipient.name }} <br/>
                        {{ recipient.surname }}</span>
                </div>
            </div>

            <div class="final__content">
                <div class="final__coins-background">
                    <div class="final__coins-item"></div>
                    <div class="final__coins-item"></div>
                    <div class="final__coins-item"></div>
                    <img
                            class="final__coins-layers"
                            src="{% static 'image/layers.png' %}"
                            alt="layers"
                    />
                </div>
                <img class=" final__coins"
                    src="{% static 'image/coins.png' %}"
                    width="150"
                    height="150"
                    alt="icon"
                    />
                    <div class="final__coins-add">
                        <span class="count">-{{ amount|floatformat:"-1" }}</span>
                        <span>{% trans 'Участнику (такому-то) было успешно переведено (количество) Dos_Coins' %}</span>
                    </div>
            </div>
            <a href="{% url 'operator' %}" class="button-s popups-close"> {% trans 'Закрыть' %}</a>
        </div>
    </section>
{% endblock %}

