{% extends "base_moderator.html" %}
{% load static %}
{% block title %}operator{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/entertainment/entertainment.css' %}">
    <link rel="stylesheet" href="{% static 'style/custom.css' %}">
{% endblock %}

{% block content %}
    <div id="qr-popup" class="popup qr" data-index="1">
        <div class="popup-container">
            <div class="top">
                <a href="{% url 'operator' %}" class="top__button popup-close" data-index="1">
                    <svg width="46" height="46">
                        <use href="{% static 'image/icons.svg' %}#back"></use>
                    </svg>
                </a>
                <span class="top__title">Scan QR code</span>
            </div>
            <div id="my-qr-reader" class="qr__content">
                <img class="qr__image" src="{% static 'image/qr.png' %}" alt="qr"/>
            </div>
        </div>
    </div>
    <div class="all-size flex">
        <header class="header-second">
            <div class="header-last"></div>
            <div class="header-second__inner">
                <button class="menu-button">
                    <img class="menu-button__image" src="{% static 'image/menu-button.png' %}" alt="menu-button"/>
                </button>
                <h1 class="header-second__title">{{ operator_name }}</h1>
            </div>
        </header>
        <section class="entertainment">
            <div class="container entertainment__inner">
                <div class="entertainment__coins">
                    <div class="entertainment__coins-item">
                        <span>Баланс</span>
                        <span class="count-s entertainment__plus">{{ user.doscointbalance.balance|floatformat:"-1" }}</span>
                        <span class="entertainment__dos">Dos Coins</span>
                    </div>
                    <div class="entertainment__coins-item">
                        <span>Потрачено:</span>
                        <span class="count-s entertainment__minus">
                            {% if total_coins_issued != 0 %}
                                -{{ total_coins_issued|floatformat:"-1" }}
                            {% else %} 0{% endif %}
                            </span>
                        <span class="entertainment__dos">Dos Coins</span>
                    </div>
                </div>
                <div class="history entertainment__history">
                    <h5 class="history__title">История транзакции:</h5>
                    <ul class="history__list entertainment__list">

                        {% for transaction in transactions %}
                            <li class="history__item">
                                <span class="history__time">{{ transaction.timestamp|date:"H:i" }}</span> |
                                <span class=" {% if transaction.is_positive %} history__minus
                                    {% else %}  history__plus {% endif %}">{% if transaction.is_positive %}-{% else %}+{% endif %}{{ transaction.amount|floatformat:"-1" }} </span>
                               {{ transaction.recipient.surname }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <button id="qr-Button"
                        class="button entertainment__button popup-button"
                        data-index="1">Scan QR code
                </button>
            </div>
        </section>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/html5-qrcode.min.js' %}"></script>
{#    <script src="{% static 'js/entertainment/entertainment.js' %}"></script>#}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const qrButton = document.getElementById("qr-Button");
            const qrPopup = document.getElementById("qr-popup");
            let isProcessing = false;

            let htmlscanner = new Html5QrcodeScanner("my-qr-reader", {
                fps: 10,
                qrbox: 250,
            });

            qrButton.addEventListener("click", () => {
                domReady(function () {

                    htmlscanner.render(onScanSuccess);
                    console.log("Render");

                    function onScanSuccess(decodedText, decodeResult) {
                        if (isProcessing) {
                            return;
                        }

                        isProcessing = true;
                        console.log(`Scanned QR Code: ${decodedText}`);

                        sendQrDataToServer(decodedText)
                            .then(data => {
                                if (data.status === 'ok') {
                                    window.location.href = data.redirect_url;
                                } else {
                                    alert(data.message);
                                    console.log(data.message);
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                console.log(`Error sending QR data: ${error}`);
                            })
                            .finally(() => {
                                isProcessing = false;
                            });
                    }
                });
            });

            function sendQrDataToServer(decodedText) {
                console.log(`Sending QR data to server: ${decodedText}`);
                return fetch("{% url 'handle_qr_moderators' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: new URLSearchParams({
                        'qr_data': decodedText
                    })
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`Server responded with ${response.status}`);
                        }
                        return response.json();
                    });
            }
        });
    </script>

{% endblock %}
