<!-- operator.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}operator{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/entertainment/entertainment.css' %}">
{% endblock %}

{% block content %}
    <div class="popup qr" data-index="1">
      <div class="popup-container">
        <div class="top">
          <button class="top__button popup-close" data-index="1">
            <svg width="46" height="46">
              <use href="{% static 'image/icons.svg' %}#back"></use>
            </svg>
          </button>
          <span class="top__title">Scan QR code</span>
        </div>
        <div id="my-qr-reader" class="qr__content">
          <img class="qr__image" src="{% static 'image/qr.png' %}" alt="qr" />
        </div>
      </div>
    </div>
    <div class="popup popup--active  add" data-index="2">
      <div class="popup-container flex">
        <div class="top">
          <button class="top__button popup-close" data-index="2">
            <svg width="46" height="46">
              <use href="{% static 'image/icons.svg' %}#back"></use>
            </svg>
          </button>
          <span class="top__title">Добавление друга</span>
        </div>
        <div class="person">
          <div class="photo-line blue-line">
            <img class="blue-person-img" src="{% static 'image/photo.png' %}" alt="photo" />
          </div>

          <div class="person__wrapper add__wrapper">
            <span class="person__name"
              >Zhasulan <br />
              Zhumadilov</span
            >
            <span class="person__location">Astana</span>
          </div>
        </div>
        <div class="add__entertainment-wrapper">
          <span class="add__enterainment-coins count-s">14</span>
          <span class="add__enterainment-name">
            Dos
            Coins
          </span>

        </div>
        <form class="add__form">
          <div class="add__form-top">
            <button class="add__plus-top add__form-button" type="button" data-plus="10">10</button>
            <button class="add__plus-top add__form-button" type="button" data-plus="50">50</button>
            <button class="add__plus-top add__form-button" type="button" data-plus="100">100</button>
          </div>
          <div class="add__form-content">
            <button class="add__minus add__form-button" type="button">-</button>
            <div class="add__coins-wrapper add__form-wrapper">
              <input class="add__coins count"  type="number" value="14" readonly />
              <span class="add__name"> Dos Coins </span>
            </div>
            <button class="add__plus add__form-button" type="button">+</button>
          </div>


          <button class="button add__submit" type="submit">Перевести</button>

          <button class="button-s popups-close" type="button">Отмена</button>
        </form>

                {% csrf_token %}
      {{ form.as_p }}
      </div>
    </div>
    <div class="popup  final" data-index="3">
      <div class="bottom-gradient"></div>
      <div class="popup-container final__inner flex">
        <div class="top">
          <button class="top__button popup-close" data-index="3">
            <svg width="46" height="46">
              <use href="{% static 'image/icons.svg' %}#back"></use>
            </svg>
          </button>
          <span class="top__title">Добавление друга</span>
        </div>
        <div class="person">
          <div class="photo-line final__line">
            <img
              class="final__person-img"
              src="{% static 'image/photo.png' %}"
              alt="photo"
            />
          </div>
          <span class="person__location">Astana</span>
          <span class="final__name"
            >Zhasulan <br />
            Zhumadilov</span
          >
        </div>
        <div class="final__content">
          <div class="final__coins-background">
            <div class="final__coins-item"></div>
            <div class="final__coins-item"></div>
            <div class="final__coins-item"></div>
            <img
              class="final__coins-layers"
              src="{% static 'image/layers.png' %}"
              alt="layers"
            />
          </div>
          <svg class="final__coins" width="150" height="150">
            <use href="{% static 'image/icons.svg' %}#coins"></use>
          </svg>
        </div>
        <div class="final__coins-add">
          <span class="count">+2</span>
          <span
            >Dos <br />
            Coins</span
          >
        </div>
        <p class="final__bottom-text">
          Поздравляем! <br />
          Dos Coins переведены
        </p>
        <button class="button final__button popups-close">Назад</button>
      </div>
    </div>
    <div class="all-size flex">
      <header class="header-second">
        <div class="header-last"></div>
        <div class="header-second__inner">
          <button class="menu-button">
            <img
              class="menu-button__image"
              src="{% static 'image/menu-button.png' %}"
              alt="menu-button"
            />
          </button>

          <h1 class="header-second__title">Entertainment</h1>
        </div>
      </header>
      <section class="entertainment">
        <div class="container entertainment__inner">
          <div class="entertainment__coins">
            <span>Выдано:</span>
            <span class="count-s">+414</span>
            <span class="entertainment__dos">Dos Coins</span>
          </div>
          <div class="history entertainment__history">
            <h5 class="history__title">История транзакции:</h5>
            <ul class="history__list entertainment__list">
              <li class="history__item">
                <span class="history__time">16:15</span> |
                <span class="history__plus"> +1 DC </span>ID 010000
              </li>
              <li class="history__item">
                <span class="history__time">15:10</span> |
                <span class="history__plus"> +2 DC </span>ID 010000
              </li>
              <li class="history__item">
                <span class="history__time">14:15</span> |
                <span class="history__minus"> -1 DC </span>ID 010000
              </li>
              <li class="history__item">
                <span class="history__time">13:10</span> |
                <span class="history__plus"> +1 DC </span>ID 010000
              </li>
              <li class="history__item">
                <span class="history__time">13:10</span> |
                <span class="history__plus"> +1 DC </span>ID 010000
              </li>
              <li class="history__item">
                <span class="history__time">13:10</span> |
                <span class="history__plus"> +1 DC </span>ID 010000
              </li>
            </ul>
          </div>
          <button
            class="button entertainment__button popup-button"
            data-index="1">Scan QR code
          </button>
        </div>
      </section>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/html5-qrcode.min.js' %}"></script>
    <script src="{% static 'js/entertainment/entertainment.js' %}"></script>
{% endblock %}
