.register__item {
    width: calc(100%);
    border-bottom: 2px solid #D9D9D9;

    &:first-child {
        width: calc(100%);
    }
}

.register__item-age {
    border-bottom: none;
}

.register__select {
    margin-top: 9px;
}

.register__select:invalid {
    color: var(--white);
}

select option {
    background: rgba(0, 0, 0, 0.3);
}

.form-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.error-message-popup {
    color: red;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}


.error-message {
    color: red;
    font-size: 20px;
    margin-top: 15px;
}


.login-sms {
    font-size: 36px;
    letter-spacing: 1ch;
    width: calc(100% - 120px);
    border-bottom: 2px solid var(--white);
    text-align: center;
    padding-left: 25px;
}

.login-sms:focus {
    outline: none;
}

.agreement-section {
    margin-bottom: 30px;
}

.agreement-section-title {
    max-width: 100%;
    margin-top: auto;
    font-size: 26px;
}

.agreement-section h1 {
    margin-bottom: 30px;
}

.language_mb {
    margin-bottom: 20px;
}

.menu__languages {
    margin-top: 22px;
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
    padding-left: 98px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.menu__languages-button {
    color: var(--white);
}

.menu__languages-button--active {
    color: #4DCDB9;
    border-bottom: 2px solid #4DCDB9;
}

.edit_save-button {
    margin-top: 30px;
}

.selfie-edit-button {
    border-bottom: 1px dotted;
}

.mb30 {
    margin-bottom: 30px;
}

.mt30 {
    margin-top: 30px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mt15 {
    margin-top: 15px;
}
.qr_settings{
    max-width: 20px;
    max-height: 20px;
}


.add-friend__form-top {
    margin-top: 35px;
}



.entertainment__history {
    max-width: 350px;
}

.text-center {
    text-align: center;
}

.display-none {
    display: none;
}

/* Для больших экранов */
.qr-code__qr {
    min-height: 550px;
    min-width: 550px;
}

.qr-code__qr-btn {
    max-width: 450px;
}

/* Для средних экранов */
@media (max-width: 1200px) {
    .qr-code__qr {
        min-height: 300px;
        min-width: 300px;
    }

    .qr-code__qr-btn {
        max-width: 250px;
    }

}

/* Для маленьких экранов */
@media (max-width: 768px) {
    .qr-code__qr {
        min-height: 250px;
        min-width: 250px;
    }

    .qr-code__qr-btn {
        max-width: 200px;
    }
}

/* Для очень маленьких экранов */
@media (max-width: 480px) {
    .qr-code__qr {
        min-height: 200px;
        min-width: 200px;
    }

    .qr-code__qr-btn {
        max-width: 150px;
    }
}
