<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Moderator{% endblock %}</title>
 {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% load i18n %}
<a href="{% url 'switch_language' 'ru' %}">{% trans "Russian" %}</a> |
<a href="{% url 'switch_language' 'kk' %}">{% trans "Kazakh" %}</a>

    <header>
        <nav>
            <ul>
                <li><a href="{% url 'add_coins' %}">Add Coins</a></li>
                <li><a href="{% url 'remove_coins' %}">Remove Coins</a></li>
                <li><a href="{% url 'balance' %}">Balance</a></li>
                <li><a href="{% url 'friends_list' %}">Friends</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
