{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body class="body--overflow">
{#    {% include "includes/preloader.html" %}#}
    {% include "includes/menu.html" %}


    {% block content %}{% endblock %}

    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
