.final {
    display: flex;
    flex-direction: column;
}

.final__inner {
    width: 100%;
}

.final__coins-item:first-child {
    filter: blur(107.99px);
    background: rgb(255, 212, 100);
    width: 161px;
    height: 161px;
    z-index: 10;

}

.final__person-img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
}

.final__coins-item:nth-child(2) {
    filter: blur(60px);
    background: rgb(255, 138, 30);
    width: 203.72px;
    height: 203.72px;
    z-index: 7;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}


.final__coins-item:nth-child(3) {
    left: 0;
    right: 0;
    width: 100%;
    height: 164.09px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 6;
    filter: blur(113.95px);
    background: rgba(201, 0, 120);
    transform: translateY(-50%);
}