dos.html<!-- dos.html -->
{% extends "base.html" %}

{% block title %}Dos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/dos/dos.css' %}">
{% endblock %}

{% block content %}
<div class="menu">
    <div class="top">
        <button class="top__button">
            <svg width="46" height="46">
                <use xlink:href="{% static 'image/icons.svg#back' %}"></use>
            </svg>
        </button>
        <span class="top__title">Меню</span>
    </div>
    <div class="menu__languages">
        <button class="menu__languages-button">KZ</button>
        <button class="menu__languages-button menu__languages-button--active">
            RU
        </button>
    </div>
    <nav class="menu__nav">
        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link"> Старинца профиля </a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="{% url 'points' %}"> Страница мероприятий </a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="{% url 'coins' %}"> Страница DOS COINS </a>
            </li>
        </ul>
    </nav>
</div>
<section class="dos">
    <div class="container dos__inner">
        <h3 class="dos__title">120<br>человек готовы участвовать</h3>
        <div class="dos__items">
            <div class="dos__item">
                <div class="person">
                    <div class="photo-line dos__line">
                        <img class="dos__person-img" src="{% static 'image/photo.png' %}" alt="photo">
                    </div>
                    <div class="person__wrapper dos__wrapper">
                        <span class="dos__name">Zhasulan<br>Zhumadilov</span>
                        <span class="dos__location">Город</span>
                    </div>
                </div>
            </div>
            <div class="dos__vectors">
                <svg width="33" height="43">
                    <use xlink:href="{% static 'image/icons.svg#dos-vector-left' %}"></use>
                </svg>
                <svg width="33" height="43">
                    <use xlink:href="{% static 'image/icons.svg#dos-vector-right' %}"></use>
                </svg>
            </div>
            <div class="dos__item">
                <div class="person">
                    <div class="photo-line dos__line">
                        <img class="dos__person-img" src="{% static 'image/photo.png' %}" alt="photo">
                    </div>
                    <div class="person__wrapper dos__wrapper">
                        <span class="dos__name">Zhasulan<br>Zhumadilov</span>
                        <span class="dos__location">Город</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="timer"></div>
        <button class="button dos__button popup-button" data-index="1">Сгененрировать</button>
        <button class="button dos__button-start">Показать QR</button>
        <button class="button-s dos__button-stop">Стоп</button>
    </div>
</section>
{% endblock %}
