<!-- seller.html -->
{% extends "base.html" %}

{% block title %}Seller{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/seller/seller.css' %}">
{% endblock %}

{% block content %}
<section class="seller">
    <div class="container seller__inner">
        <h4 class="seller__title">Введите в поле значение:</h4>
        <form class="seller__form">
            <div class="seller__item">
                <input type="number" class="seller__number" readonly>
                <span class="seller__coins">Dos Coins</span>
            </div>
            <div class="seller__buttons">
                <input class="seller__button" type="button" value="1">
                <input class="seller__button" type="button" value="2">
                <input class="seller__button" type="button" value="3">
                <input class="seller__button" type="button" value="4">
                <input class="seller__button" type="button" value="5">
                <input class="seller__button" type="button" value="6">
                <input class="seller__button" type="button" value="7">
                <input class="seller__button" type="button" value="8">
                <input class="seller__button" type="button" value="9">
                <span class="seller__span"></span>
                <input class="seller__button" type="button" value="0">
                <button class="seller__delete" type="button">
                    <svg width="51" height="31">
                        <use xlink:href="{% static 'image/icons.svg#seller-delete' %}"></use>
                    </svg>
                </button>
            </div>
            <button class="button seller__submit" type="submit">Сгененрировать QR</button>
        </form>
    </div>
</section>
{% endblock %}
